django==2.2
djangorestframework==3.11.1
mysqlclient
djoser
markdown
psycopg2==2.8.6
django-filter
pygments
django-cors-headers
djangorestframework-simplejwt
dynamic-rest
django-safedelete
django-import-export
django-simple-history
django-model-utils
Pillow
django-wkhtmltopdf

# Heroku
gunicorn==20.1.0
django-heroku==0.3.1